<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referrals and Destinations</title>
</head>
<body>
    <h1>Welcome to Our Site</h1>
    <p>Select a destination to visit:</p>
    <ul>
        <li><a href="{{ url_for('go_to_destination', destination='google.com') }}">Google</a></li>
        <li><a href="{{ url_for('go_to_destination', destination='facebook.com') }}">Facebook</a></li>
        <li><a href="{{ url_for('go_to_destination', destination='twitter.com') }}">Twitter</a></li>
    </ul>
    <br>
    <a href="{{ url_for('analysis') }}">View Analysis</a>
</body>
</html>
